<!DOCTYPE html>
<html lang="en">
<head>
  <title>Appraiser Email</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <link rel="stylesheet" href="email.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="logo">
<img src="1" alt="KRITVA TECHNOLOGY">
<hr >
  </div>
  Dear <label>Appraiser’s name</label>,<br/>

  Please be informed  <span > Employee name has submitted his Goals for the year <label>2016-17</label>  which is ready for your approvals.</span> Kindly login to PMS Online to review the same and further actions.<br/>

<span> Please click the link below to check status:<br>
  <a href="drfgrtyhrtuy">https://www.xyz.com</a>

 
<p style="text-align:left; line-height:15px; font-weight: bold">Best Regards,<br/>
 Administrator</p></span> 
 <p style="color: #bbb;">
2016 &#169; Kritva Technology Pvt. Ltd.
</p>
</div>

</body>
</html>

